<div class="home-cnt1">
    <div class="cnt1-logo">
        Doctoland
    </div>
    <div  class="cnt1-sm">
        <ul id="sm">
            <li>
                <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Example thumbs up SVG icon" [class.mat-elevation-z8]="isActive" (mouseover)="onHover(true)" (mouseleave)="onHover(false)"></mat-icon>
            </li>
            <li>
                <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Example thumbs up SVG icon" [class.mat-elevation-z8]="isActive" (mouseover)="onHover(true)" (mouseleave)="onHover(false)">
                </mat-icon>
            </li>
            <li>
                <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            </li>
            <li>
                <mat-icon svgIcon="twitter" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
            </li>
        </ul>
        <button id="menu"mat-button routerLink="/menu"> <img src="../../assets/image/menu.svg" /></button>
    </div>

</div>
