<div class="flex">
    <div class="flex-1">
        <div class="cust_bar">
            <div class="item-1">
                <button mat-button routerLink="/menu"> <img src="../../assets/image/menu.svg" /></button>
            </div>
            <div class="item-2">
                <div>-- SOME CAPTION FOR HEALTH TEST</div>
            </div>
            <div class="item-3">
                <mat-list role="list">
                    <mat-list-item role="listitem"><img src="../../assets/image/menu.svg" /> </mat-list-item>
                    <mat-list-item role="listitem"><img src="../../assets/image/menu.svg" /> </mat-list-item>
                    <mat-list-item role="listitem"><img src="../../assets/image/menu.svg" /> </mat-list-item>
                </mat-list>
            </div>

        </div>
    </div>
    <div class="flex-2">
        <p>Complete Space will be dedicated to display the content..</p>
    </div>
</div>