.flex{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.flex-1{
    flex: 1;
    background-color: rgb(241, 241, 241);
    min-width: 100px;
}
.flex-2{
    flex: 25;
    border: 3px solid salmon;
}

.cust_bar{
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100%;
}

.item-1{
    flex: 5;
    text-align: center;
    margin: 3px;
    padding: 5px;
}
.item-2{
    flex: 3;
    align-items: center;
    position: relative;
    top: 8em;
    margin: 3px;
    padding: 5px;
}

.item-2 > div {
   transform: rotate(-90deg);
   white-space: nowrap; 
}

.item-3{
    flex: 1;
    text-align: center;
    margin: 3px;
    padding: 5px;
}

