<div class="abt-cnt">
    <div class="abt-cnt1">
        <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile>
                <div>
                    <div id="tit-cap">
                        About
                    </div>
                    <div id="tit-sub-cap">
                        Creative agency built to build modern solution
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>

        </mat-grid-list>
    </div>
    <div class="abt-cnt2">
        <mat-grid-list cols="4" rowHeight="2:2">
            <mat-grid-tile>
                <div>
                    <div id="sub-tit">
                        01. Research
                    </div>
                    <div>
                        <br/>
                        <br/>
                        <!--no-cnt-->
                    </div>
                    <div id="sub-txt">
                        We will make a brand strategy session focused on solving business challenges through design.
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <div id="sub-tit">
                        02. Idea & Concept
                    </div>
                    <div>
                        <br/>
                        <br/>
                        <!--no-cnt-->
                    </div>
                    <div id="sub-txt">
                        We will make a brand strategy session focused on solving business challenges through design.
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <div id="sub-tit">
                        03. Customer Service
                    </div>
                    <div>
                        <br/>
                        <br/>
                        <!--no-cnt-->
                    </div>
                    <div id="sub-txt">
                        We will make a brand strategy session focused on solving business challenges through design.
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <div id="sub-tit">
                        04. 24h/7 Help Service
                    </div>
                    <div>
                        <br/>
                        <br/>
                        <!--no-cnt-->
                    </div>
                    <div id="sub-txt">
                        We will make a brand strategy session focused on solving business challenges through design.
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <br />
    <br />
    <br />
    <div class="abt-cnt3">
        <mat-grid-list cols="2" rowHeight="2:2">
            <mat-grid-tile>
                <div>
                    <div class="grid-container">
                        <div class="grid-item">1</div>
                        <div class="grid-item">2</div>
                        <div class="grid-item">3</div>
                        <div class="grid-item">4</div>
                        <div class="grid-item">5</div>
                        <div class="grid-item">6</div>
                        <div class="grid-item">7</div>
                        <div class="grid-item">8</div>
                        <div class="grid-item">9</div>
                    </div>
                </div>


            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <div id="abt-cnt3-tit">
                        We believe in passionate people
                    </div>
                    <div>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                    <div id="abt-cnt3-txt">
                        We work only with people who passionate about the business of design. At least as much as our core members do. That's why we grow slowly and steadily. But with confidence that every team member shares our core values.
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list>

    </div>
</div>