@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.abt-cnt {
    display: flex;
    flex-direction: column;
}

.abt-cnt1 {
    flex: 1;
}

.abt-cnt2 {
    flex: 2;
}

.abt-cnt3 {
    flex: 5;
}

.abt-cnt4 {
    flex: 1;
}

#tit-cap {
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 60px;
    columns: #444444;
}

#tit-sub-cap {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    columns: #333333;
}

#sub-tit {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    columns: rgb(40, 40, 40);
}

#sub-txt {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 25.5px;
    columns: rgb(73, 73, 73);
}

#abt-cnt3-tit {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 50px;
    columns: rgb(61, 65, 73);
}

#abt-cnt3-txt {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    columns: rgb(73, 73, 73);
}

#cnt4-txt {
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 50px;
    columns: rgb(42, 100, 150);
    padding: 5px;
    margin: 25px;
}

#cnt4-txt1 {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    columns: rgb(73, 73, 73);
    padding: 5px;
    margin: 25px;
}

#cnt4-txt {
    font-family: 'Rubik', sans-serif;
    font-size: 42px;
    font-weight: 500;
    line-height: 50px;
    columns: rgb(42, 100, 150);
    padding: 5px;
    margin: 25px;
}

#cnt4-txt1 {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    columns: rgb(73, 73, 73);
    padding: 5px;
    margin: 25px;
}

#cnt5-txt {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 22.1px;
    color: rgb(136, 136, 136);
}

#cnt5-txt1 {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 50px;
    columns: rgb(61, 65, 73);
}


/**
** Grid Image
**/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar-txt {
    font-family: 'Poppins, sans-serif';
    font-size: 16px;
    font-weight: 700;
    line-height: 14.4px;
    color: rgb(12, 1, 1);
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}


/**
*End Of Grid Image
**/