<div id="top">
    <div class="site-wrap">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <!-- .site-mobile-menu -->


        <!-- NAVBAR -->
        <header class="site-navbar mt-3">

        </header>

        <!-- HOME -->
        <section class="home-section section-hero inner-page overlay bg-image" style="background-image: url('../../../assets/image/hero_1.jpg');" id="home-section">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="mb-5 text-center">
                            <h1 class="text-white font-weight-bold">Our Investor</h1>
                            <p>our investore played an important role.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="site-section services-section bg-light block__62849" id="next-section">
            <div class="container">

                <div class="row">
                    <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

                        <a class="block__16443 text-center d-block">
                            <span class="custom-icon mx-auto"><span class="icon-magnet d-block"></span></span>
                            <h3>Investor 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.
                            </p>
                        </a>

                    </div>
                    <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

                        <a class="block__16443 text-center d-block">
                            <span class="custom-icon mx-auto"><span class="icon-plane d-block"></span></span>
                            <h3>Investor 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.
                            </p>
                        </a>

                    </div>
                    <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

                        <a class="block__16443 text-center d-block">
                            <span class="custom-icon mx-auto"><span class="icon-laptop d-block"></span></span>
                            <h3>Investor 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.
                            </p>
                        </a>

                    </div>
                    <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

                        <a class="block__16443 text-center d-block">
                            <span class="custom-icon mx-auto"><span class="icon-search d-block"></span></span>
                            <h3>Investor 1</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.
                            </p>
                        </a>

                    </div>
                    <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

                        <a class="block__16443 text-center d-block">
                            <span class="custom-icon mx-auto"><span class="icon-paper-plane d-block"></span></span>
                            <h3>Investor 1 </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.
                            </p>
                        </a>

                    </div>
                    <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

                        <a class="block__16443 text-center d-block">
                            <span class="custom-icon mx-auto"><span class="icon-plug d-block"></span></span>
                            <h3>Investor 1n</h3>
                            <p class="d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
                        </a>

                    </div>
                    <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

                        <a class="block__16443 text-center d-block">
                            <span class="custom-icon mx-auto"><span class="icon-plug d-block"></span></span>
                            <h3>Investor 1n</h3>
                            <p class="d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
                        </a>

                    </div>
                </div>


            </div>
        </section>

        <section class="bg-white pt-5 testimony-full">

            <div class="owl-carousel single-carousel">


                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mx-auto">
                            <img class="img-fluid mx-auto" src="../../../assets/image/person_1.jpg" alt="Image">
                            <blockquote>
                                <p>&ldquo;Soluta quasi cum delectus eum facilis recusandae nesciunt molestias accusantium libero dolores repellat id in dolorem laborum ad modi qui at quas dolorum voluptatem voluptatum repudiandae.&rdquo;</p>
                                <p><cite> &mdash; Richard Anderson</cite></p>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mx-auto">
                            <img class="img-fluid mx-auto" src="../../../assets/image/person_2.jpg" alt="Image">
                            <blockquote>
                                <p>&ldquo;Soluta quasi cum delectus eum facilis recusandae nesciunt molestias accusantium libero dolores repellat id in dolorem laborum ad modi qui at quas dolorum voluptatem voluptatum repudiandae.&rdquo;</p>
                                <p><cite> &mdash; Chris Peters</cite></p>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mx-auto">
                            <img class="img-fluid mx-auto" src="../../../assets/image/person_2.jpg" alt="Image">
                            <blockquote>
                                <p>&ldquo;Soluta quasi cum delectus eum facilis recusandae nesciunt molestias accusantium libero dolores repellat id in dolorem laborum ad modi qui at quas dolorum voluptatem voluptatum repudiandae.&rdquo;</p>
                                <p><cite> &mdash; Chris Peters</cite></p>
                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>

        </section>



        <footer class="site-footer">


            <div class="container">
                <div class="row mb-5">

                </div>

                <div class="row text-center">
                    <div class="col-12">
                        <p>
                              Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | <i class="icon-heart-o" aria-hidden="true"></i> by Doctoland
                                </p>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</div>
