@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
.menu-flex{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background-color:#252525;
    opacity:0.9;
    cursor: pointer;
}

.mn-item1{
    flex: 1;
}
.mn-item2{
    flex : 5;
    text-align: center;
}
.mn-item3{
  flex: 2;
  font-size: 14px;
  line-height: 28px ;
  font-family: 'Rubik', sans-serif;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
}

#listitem{
  font-size: 34px;
  line-height: 40.8px;
  color: rgb(234, 235, 240);
  font-family: 'Poppins', sans-serif;
  justify-content: center;
}

#listitem :hover{
  color: #505CFD;
}

.mn-item3 > div > ul > li {
  display: inline;
  padding: 3px;
  margin: 5px;
}



