<div class="menu-flex">
    <div class="mn-item1">
            <button mat-button routerLink=""> <img src="../../assets/image/close-button.svg"  style=" height: 25px; width: 15px; "/></button>
    </div>
    <div class="mn-item2" id="listitem">
        <mat-list routerLink="" >Home</mat-list>
        <mat-list>Are you a health professional?</mat-list>
        <mat-list>Our replacement offers</mat-list>
        <mat-list>The concept</mat-list>
        <mat-list>about us</mat-list>
        <mat-list>Careers</mat-list>
        <mat-list>Need help ?</mat-list>
    </div>
    <div class="mn-item3">
      <div>© 2020 Created with ♥ in africa | Doctoland<br/> no trees were cut<br></div>
      <div>
        <ul>
          <li><mat-icon  svgIcon="facebook" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></li>
          <li><mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></li>
          <li><mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></li>
          <li><mat-icon svgIcon="twitter" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon></li>
        </ul>
      </div>
    </div>
</div>
