<div class="menu-flex">
    <div class="mn-item1">
        <button mat-button routerLink=""> <img src="../../assets/image/close-button.svg"  style=" height: 25px; width: 15px; "/></button>
    </div>
    <div class="mn-item2" id="listitem">
        <mat-list routerLink="">Home</mat-list>
        <mat-list routerLink="/professional">Are you a health professional?</mat-list>
        <mat-list routerLink="/aboutus">about us</mat-list>
        <mat-list routerLink="/career">Careers</mat-list>
        <mat-list routerLink="/needhelp">Need help ?</mat-list>
        <mat-list routerLink="/investor">Our Investor</mat-list>
        <mat-list routerLink="/blog">Blog's</mat-list>
    </div>
    <div class="mn-item3">
        <div>© 2020 Created with ♥ in africa | Doctoland<br/> no trees were cut<br></div>
        <div>
            <ul>
                <li>
                    <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                </li>
                <li>
                    <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                </li>
                <li>
                    <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                </li>
                <li>
                    <mat-icon svgIcon="twitter" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                </li>
            </ul>
        </div>
    </div>
</div>
